<launch>
  <node name="depth_to_scan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
    <remap from="image" to="/camera/depth/image_rect_raw"/>
    <remap from="camera_info" to="/camera/depth/camera_info"/>
    <remap from="scan" to="scan_depth"/>
    <param name="range_min" value="0.05"/>
    <param name="scan_height" value="200"/>
  </node>
</launch>